

.logo_1{
    background-color: orange;
   max-width: 100px;
    height:80px ;
    
}
.head{
    
    width: 100px;
     height: auto;
}
.container_1 {
  display: flex;
  margin: auto;
  padding: 2rem 1rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  background-color: rgb(176, 174, 174);
}

.text {
  display: flex;
  align-items: center;
flex-direction:space-between ;
  align-items: center;
  gap: 3rem;
color:#1CB0F6;
}

.logo {
  margin-right: 15px;
}

.menu-item {
  margin: 0;
  padding: 0;
}

.d-grid_ {
  display: flex;
  gap: 10px;
}

.btn {
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}
   .table_work{
    border: 1px solid black;
  border-collapse: collapse;
  background-color: greenyellow;
  }
  .QAR{
    border-radius: 1px solid blue;
    background-color: greenyellow;
    padding-top: 10px;
    padding-left: 10px;
    padding: auto;
    padding-bottom: 150px;
    margin: auto;
    margin-top: 20px;
    
  }    
  footer{
    background-color: grey;
  }
  .d-grid_gap-2_d-md-block{
    background-color: orangered;
  }

  .btn {
    appearance: butt;
    background-color: orangered;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: .8px;
    line-height: 20px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 13px 19px;
    text-align: center;
    text-transform: uppercase;
    touch-action: manipulation;
    transform: translateZ(0);
    transition: filter .2s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
   }
   
   .btn:after {
    background-clip: padding-box;
    background-color: #1CB0F6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    bottom: -4px;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
   }
   
   .btn :main, .btn:focus {
    user-select: auto;
   }
   
   .btn:hover:not(:disabled) {
    filter: brightness(1.1);
   }
   
   .btn:disabled {
    cursor: auto;
   }
   
   .btn:active:after {
    border-width: 0 0 0px;
   }
   
   .btn:active {
    padding-bottom: 10px;
   }